// SWIPER

.swiper-pagination-bullet {
	transition: 0.25s;
}

// PAGE TOUR

.page-tour {
	z-index: 1500 !important;
	
	.page-tour-content {
		font-size: 0.875rem;
		padding-left: 0.625rem !important;
		padding-right: 0.625rem !important;
	}
	
	.page-tour-dontshow {
		font-size: 0.625rem;
	}
	
	.page-tour-next {
		display: flex;
		align-items: center;
		
		i {
			margin-left: 0.25rem;
		}
	}
}