//
// GLOBAL VARIABLES
//

$all-grid-breakpoints: 'sm', 'md', 'lg', 'xl';
$all-grid-breakpoint-sizes: 576, 768, 992, 1200;

//
// BOOTSTRAP
//

@import "../../../fw-parent/resources/vendor/bootstrap/scss/functions";

@import "variables";

@import "../../../fw-parent/resources/vendor/bootstrap/scss/mixins";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/root";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/reboot";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/type";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/images";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/code";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/grid";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/tables";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/forms";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/buttons";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/transitions";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/dropdown";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/button-group";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/input-group";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/custom-forms";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/nav";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/navbar";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/card";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/breadcrumb";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/pagination";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/badge";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/jumbotron";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/alert";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/progress";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/media";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/list-group";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/close";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/toasts";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/modal";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/tooltip";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/popover";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/carousel";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/spinners";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/utilities";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/print";


@import '../../../fw-parent/resources/scss/bootstrap/extras';

//
// HELPERS
//

@import '../../../fw-parent/resources/scss/helpers/mixins';
@import '../../../fw-parent/resources/scss/helpers/tags';

// classes

$full-height-height: 100vh !default;

$bg-z-index: 1 !default;

@import '../../../fw-parent/resources/scss/helpers/classes';

//
// TEMPLATE
//

// HEADER
// template/_header.scss

$alert-height: auto !default;
$alert-bg: $danger !default;
$alert-text-color: $white !default;
$alert-link-color: $alert-text-color !default;
$alert-close-color: $alert-link-color !default;
$alert-z-index: 1030 !default;

@import '../../../fw-parent/resources/scss/template/header';

//
// STRUCTURE
//

$section-bg-alt: $white;

// containers

$container-max-width: 1200px !default;

@import '../../../fw-parent/resources/scss/structure';

//
// BLOCKS
//

@import '../../../fw-parent/resources/scss/blocks/animation';
@import '../../../fw-parent/resources/scss/blocks/menu';
@import '../../../fw-parent/resources/scss/blocks/heading';
@import '../../../fw-parent/resources/scss/blocks/text';
@import '../../../fw-parent/resources/scss/blocks/image';
@import '../../../fw-parent/resources/scss/blocks/video';
@import '../../../fw-parent/resources/scss/blocks/jumbotron';
@import '../../../fw-parent/resources/scss/blocks/carousel';
@import '../../../fw-parent/resources/scss/blocks/big-list';
@import '../../../fw-parent/resources/scss/blocks/query';
@import '../../../fw-parent/resources/scss/blocks/post-grid';
@import '../../../fw-parent/resources/scss/blocks/post-carousel';
@import '../../../fw-parent/resources/scss/blocks/terms';
@import '../../../fw-parent/resources/scss/blocks/tabs';

//
// VENDOR
//

@import '../../../fw-parent/resources/scss/vendor';