//
// OVERRIDE VARIABLES
//

// classes

$bg-z-index: 1;

//
// STRUCTURE
// _structure.scss
//

$section-bg-alt: $white;

//
// TEMPLATE
//


//
// BLOCKS
//



//
// COMPONENTS
//

// OVERLAY

$overlay-close-color: $primary;
$overlay-close-top: 150px;
$overlay-close-right: 2rem;

// SWIPER

$carousel-controls-color: $gray-500;
