//
// HEADER
//

#main-header {
	position: absolute;
	// top: 0;
	left: 0;
	width: 100%;
	background-color: $gray-100;
	font-family: $headings-font-family;
	font-weight: 500;
	z-index: 100;

	a {
		color: $body-color;
	}
}

#header-logo {
	img {
		max-width: 60px;
		margin: auto;
	}
}

#header-wordmark {
	img {
		max-width: 120px;
	}
}

#header-primary {
	font-size: 1.125rem;

	.current-nav-item {
		a {
			background-color: $white;
		}
	}

	.nav-item {
		&:not(.current-nav-item) {
			a {
				&:hover {
					background-color: transparentize($gray-200, 0.6);
				}
			}
		}
	}

	a {
		position: relative;
		transition: 0.25s;

		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			height: 0;
			background-color: $primary;
			transition: 0.25s;
		}

		&:hover {
			color: $primary;

			&:after {
				height: 0.375rem;
			}
		}
	}
}

#header-secondary {
	margin-bottom: 1.3rem;
	font-size: 0.6875rem;
	@include all-caps;
}

//
// FOOTER
//

#main-footer {
	background-color: $gray-100;
	font-size: 0.75rem;
}

//
// APP
//

$app-head-height: 3rem;
$app-transition: 0.25s;

.app-page {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;

	// template

	#main-header {
		position: relative;

		a {
			&:after {
				display: none;
			}
		}
	}

	// page

	main {
		flex-grow: 1;
	}

	// section

	.app-main {
		@include full-size;
		background-color: $light;
		font-size: 0.875rem;

		.section-wrap {
			@include full-size;
			display: flex;
			flex-direction: column;
		}
	}

	// container

	.app-container {
		position: relative;
		flex-grow: 1;
	}

	// head

	.app-head {
		display: flex;

		&[data-mode="scenario-detail"] {
			.app-filter {
				left: -25vw;
				width: 0;
			}

			.app-head-back {
				opacity: 1;
				left: 0;
				width: 3rem;
			}
		}

		&[data-mode="risk-detail"] {
			.app-filter {
				left: -25vw;
				width: 0;
			}

			.app-head-back {
				opacity: 1;
				left: 0;
				width: 3rem;
			}
		}
	}

	// back button

	.app-head-back {
		position: relative;
		top: 0;
		left: -$app-head-height;
		width: 0rem;
		height: $app-head-height;
		opacity: 0;
		transition: $app-transition;
		background-color: $primary;
		color: $white;
		font-size: 1.25rem;
		line-height: $app-head-height;
		text-align: center;
		cursor: pointer;

		&:hover {
			background-color: $red-dark;
		}
	}

	// filter

	.app-filter {
		position: relative;
		left: 0;
		width: 25vw;
		transition: $app-transition;
		background-color: $gray-500;
		color: $white;

		.app-filter-content {
			display: flex;
			height: $app-head-height;
			transition: $app-transition;
		}

		.filter-toggles {
			line-height: $app-head-height;
			cursor: pointer;
		}

		.filter-toggle {
			background-color: $gray-600;
			transition: $app-transition;

			&:hover {
				background-color: $gray-700;
			}
		}
	}

	// sidebar

	.app-sidebar {
		position: absolute;
		left: 0;
		top: 0;
		width: 25%;
		height: 100%;
		overflow: auto;
		background-color: $gray-500;//transparentize($gray-500, 0.08);
		box-shadow: 0.25rem 0 transparentize($gray-900, 0.9);
		transition: $app-transition;
		z-index: 10;

		&[data-width="half"] {
			width: 50%;
		}
	}

	// breadcrumb

	.app-breadcrumb {
		transition: $app-transition;

		.breadcrumb {
			height: $app-head-height;
			padding-left: 1.75rem;
			align-items: center;
		}
	}

	// map

	.app-map {
		@include full-size;
		z-index: 1;
	}

	#map {
		@include full-size;
	}

	// adjust for admin bar

	&.admin-bar {
		height: calc(100vh - 32px);

		main {
			//height: calc(100vh - 32px);
		}
	}

}
