//
// HEADER
//

#main-header {
	position: absolute;
	// top: 0;
	left: 0;
	width: 100%;
	background-color: transparentize($gray-100, 1);
	font-family: $headings-font-family;
	font-weight: 500;
	z-index: 1050;
	transition: background-color 0.25s ease 0s;

	@include media-breakpoint-up(sm) {
		left: 0;
		opacity: 1;
		background-color: $gray-100;
	}

	a {
		color: $body-color;
		transition: 0.25s;
	}

	svg {
		overflow: visible;
	}
}

body.nav-open {
	overflow: hidden;

	#main-header {
		position: fixed;
		height: 100%;
		background-color: $gray-100;
		transition: background-color 0.25s ease 0.1s;
	}

	#header-primary {
		left: 0;
		opacity: 1;
		transform: translateY(0%);
		transition: left 0s ease 0s, opacity 0.25s ease 0s, transform 0.5s ease 0s;
	}

	#header-secondary {
		left: 0;
		opacity: 1;
		transition: left 0s ease 0s, opacity 0.5s ease 0.25s;
	}
}

@media screen and (max-width: 782px) {
	.admin-bar {
		#main-header {
			top: auto;
		}
	}
}

#header-logo {
	img {
		max-width: 60px;
		margin: auto;
	}

	.block-type-animation {
		height: 60px;
	}
}

#header-wordmark {
	img {
		max-width: 120px;
	}
}

#header-primary {

	@include media-breakpoint-down(sm) {
		position: fixed;
		bottom: 50%;
		left: -9999px;
		opacity: 0;
		transform: translateY(20%);
		transition: left 0s ease 0.25s, opacity 0.25s ease 0s, transform 0.25s ease 0s;
		text-align: center;
		font-size: 1.125rem;
	}

	@include media-breakpoint-up(lg) {
		font-size: 1.125rem;
	}

	.current-nav-item {
		a {
			background-color: $white;
		}
	}

	.nav-item {
		&:not(.current-nav-item) {
			a {
				&:hover {
					background-color: transparentize($gray-200, 0.6);
				}
			}
		}
	}

	a {
		position: relative;

		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			height: 0;
			background-color: $primary;
			transition: 0.25s;
		}

		&:hover {
			color: $primary;

			&:after {
				height: 0.375rem;
			}
		}
	}
}

#header-secondary {
	font-size: 0.75rem;

	@include media-breakpoint-up(md) {
		font-size: 0.625rem;
	}

	@include media-breakpoint-up(lg) {
		font-size: 0.6875rem;
	}

	@include media-breakpoint-down(sm) {
		position: fixed;
		left: -9999px;
		bottom: 2rem;
		opacity: 0;
		transition: left 0s ease 0.25s, opacity 0.25s ease 0s;
	}

	.nav-link {
		@include media-breakpoint-only(md) {
			padding-left: 0.25rem;
			padding-right: 0.25rem;
		}
	}
}

#header-menu-secondary {
	margin-bottom: 0.8rem;
	@include all-caps;


	a {
		&:hover {
			color: $primary;
		}
	}
}

#header-menu-lang {
	margin-right: 0.5rem;
	font-weight: 400;

	.menu-item {
		padding: 0.25rem 0.5rem;
		// background-color: $white;
		text-transform: none;

		&:hover {
			background-color: $gray-200;
		}

		&.wpml-ls-current-language {
			background-color: $white;
		}
	}
}

#menu-icon {
	font-size: 1.25rem;

	i {
		cursor: pointer;
	}
}

//
// FOOTER
//

#main-footer {
	background-color: $gray-100;
	font-size: 0.75rem;

	p {
		margin-bottom: 0;
	}
}

#footer-logo {
	img {
		width: 100%;
		max-width: 50px;
	}

	.image-wrap {
		align-items: center;
	}
}

//
// OVERLAYS
//

.overlay-wrap {
	@include media-breakpoint-down(sm) {
		z-index: 1060;
	}
}

.overlay-content {
	@include media-breakpoint-down(sm) {
		padding: 0;
	}
}

.overlay-close {
	@include media-breakpoint-down(sm) {
		top: 1rem;
		right: 1rem;
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
}

#risks-text {
	.block-text {
		width: 83.333333%;
		margin-left: 8.333333%;

		@include media-breakpoint-up(md) {
			width: 66.666667%;
			margin-left: 16.666667%;
		}
	}
}

#psra {
	display: none;

	.query-item {
		cursor: pointer;
	}
}

#psra-items-filter {
	.item {
		background-color: $white;
		cursor: pointer;
		transition: 0.25s;

		&:hover {
			background-color: $beige-200;
		}

		&.selected {
			background-color: $primary;
			color: $white;
		}
	}
}

//
// APP
//

$app-head-height: 3rem;
$app-transition: 0.25s;

.app-page {
	@include media-breakpoint-up(md) {
		display: flex;
		flex-direction: column;
		height: 100vh;
		overflow: hidden;
	}

	// template

	#main-header {
		// @include media-breakpoint-up(sm) {
			position: relative;
		// }

		a {
			&:after {
				display: none;
			}
		}
	}

	#spinner-overlay {
		@include full-size(fixed);
		left: -9999px;
		opacity: 0;
		transition: left 0s ease 0.25s, opacity 0.25s ease 0s;
		background-color: transparentize($white, 0.25);
		z-index: 1900;
	}

	&.spinner-on {
		#spinner-overlay {
			transition: left 0s ease 0s, opacity 0.25s ease 0s;
			left: 0;
			opacity: 1;
		}
	}



	// page

	main {
		flex-grow: 1;
		z-index: initial;
	}

	// section

	.app-main {
		@include media-breakpoint-up(md) {
			@include full-size;
		}

		background-color: $light;
		font-size: 0.875rem;

		.section-wrap {
			@include media-breakpoint-up(md) {
				@include full-size;
				display: flex;
				flex-direction: column;
			}
		}

		&[data-mode="scenario-detail"] {
			.app-head {
				.app-controls {
					left: -25vw;
					width: 0;
				}

				.app-head-back {
					opacity: 1;
					left: 0;
					width: 3rem;
				}
			}

			&.indicator-selected {
				&.charts-on {
					.app-charts {
						left: 25%;
						opacity: 1;
						transition: left 0.25s ease 0s, opacity 0.1s ease 0s;
					}

					.leaflet-left {
						@include media-breakpoint-up(md) {
							left: 50%;
						}
					}

					.legend .items {
						@include media-breakpoint-up(md) {
							width: 50vw;
						}
					}
				}
			}

			.leaflet-control-container {
				.leaflet-control-attribution {
					opacity: 0;
				}
			}
		}

		&[data-mode="risk-detail"] {
			.app-head {
				.app-controls {
					left: -25vw;
					width: 0;
				}

				.app-head-back {
					opacity: 1;
					left: 0;
					width: 3rem;
				}
			}

			.app-map,
			.leaflet-data-pane,
			.leaflet-data-pane * {
				// pointer-events: none;
			}
		}
	}

	// container

	.app-container {
		display: flex;
		flex-direction: column;
		position: relative;
		flex-grow: 1;

		@include media-breakpoint-up(md) {
			display: block;
		}
	}

	// head

	.app-head {
		display: flex;
		justify-content: space-between;
	}

	// back button

	.app-head-back {
		position: relative;
		top: 0;
		left: -$app-head-height;
		width: 0rem;
		height: $app-head-height;
		opacity: 0;
		transition: $app-transition;
		background-color: $primary;
		color: $white;
		font-size: 1.25rem;
		line-height: $app-head-height;
		text-align: center;
		cursor: pointer;

		&:hover {
			background-color: $red-dark;
		}
	}

	// filter

	.app-controls {
		display: none;
		position: relative;
		left: 0;
		width: 25vw;
		transition: $app-transition;
		background-color: $gray-500;
		color: $white;

		@include media-breakpoint-up(md) {
			display: block;
		}

		.app-controls-content {
			display: flex;
			height: $app-head-height;
			transition: $app-transition;
		}

		.control-toggles {
			line-height: $app-head-height;
			cursor: pointer;
		}

		.control-toggle {
			background-color: $gray-700;
			transition: $app-transition;

			&:hover {
				background-color: lighten($gray-700, 5%);
			}

			&.open {
				background-color: $gray-600;
			}
		}
	}

	// sidebar

	.app-sidebar {
		display: flex;
		flex-direction: column;
		order: 2;
		background-color: transparentize($gray-500, 0.08);
		box-shadow: 0.25rem 0 transparentize($gray-900, 0.9);
		transition: $app-transition;
		z-index: 10;

		@include media-breakpoint-up(md) {
			position: absolute;
			left: 0;
			top: 0;
			width: 25%;
			height: 100%;
		}
	}

	.app-sidebar-control {
		display: none;
		background-color: $gray-600;
		color: $white;

		.sort-item {
			display: flex;
			align-items: center;
			padding-left: 0.625rem;
			padding-right: 0.625rem;
			transition: 0.25s;
			cursor: pointer;

			&[data-sort-order="desc"] {
				i {
					transform: rotate(180deg);
				}
			}

			&:hover {
				background-color: $gray-700;
			}

			&.selected {
				background-color: $gray-200;
				color: $body-color;

				i {
					opacity: 1;
					color: $primary;
				}
			}

			h6 {
				font-size: 0.75rem;
			}

			i {
				font-size: 0.875rem;
				opacity: 0.25;
				transition: 0.25s;
			}
		}
	}

	.app-sidebar-content {
		flex-grow: 1;
		overflow: auto;
	}

	.sidebar-detail {
		.score-chart {
			position: relative;
			padding-top: 1.5rem;
		}

		.range {
			height: 0.5rem;
			background: rgb(175,200,153);
			background: linear-gradient(90deg, rgba(175,200,153,1) 0%, rgba(248,195,136,1) 55%, rgba(240,90,35,1) 70%, rgba(217,4,41,1) 85%, rgba(139,7,7,1) 100%);
		}

		.marker {
			position: absolute;
			top: 0;
			width: 1px;
			height: 100%;
			background-color: $body-color;
		}

		.label {
			display: none;
			position: absolute;
			top: 0;
			padding: 0 0.5rem;
			line-height: 1;
		}

	}

	// charts

	.app-charts {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 25%;
		height: 100%;
		overflow: auto;
		background: transparentize($white, 0.08);
		box-shadow: 0.25rem 0 transparentize($gray-900, 0.9);
		opacity: 0;
		transition: left 0.25s ease 0s, opacity 0.1s ease 0.15s;
		z-index: 5;

		@include media-breakpoint-up(md) {
			display: block;
		}

		.chart-tab-content {
			padding: 0.75rem;
		}

		.chart-legend {
			// display: flex;
			// flex-wrap: wrap;
			padding: 0.75rem;
			background-color: $gray-100;
			font-size: 0.75rem;
		}

		.legend-item {
			display: flex;
			align-items: center;
			flex: 0 0 50%;

			.symbol {
				width: 10px;
				height: 10px;
				margin-right: 0.75rem;
				border-radius: 50%;
			}
		}

		.sticky-top {
			box-shadow: 0 -1px $light;
		}

		.chart-tabs {
			font-size: 0.75rem;
			text-transform: uppercase;

			a {
				padding: 0.125rem 0.625rem;
				color: $body-color;
				transition: 0.25s;
			}
		}

		.highcharts-container {
			overflow: visible;
		}
	}

	// chart modal

	#data-modal {

	}

	#chart-data-placeholder {
		caption {
			display: none;
		}
	}

	// breadcrumb

	.app-breadcrumb {
		display: none;
		transition: $app-transition;

		@include media-breakpoint-up(md) {
			display: block;
		}

		.breadcrumb {
			height: $app-head-height;
			padding-left: 1.75rem;
			align-items: center;
		}

		.breadcrumb-item {
			padding-right: 0.25rem;

			&:not(:first-child) {
				&:before {
					content: '';
					border: 5px solid transparent;
					border-left-color: $gray-400;
				}
			}
		}
	}

	// retrofit/chart toggles

	#chart-toggle {
		@include media-breakpoint-down(sm) {
			display: none !important;
		}
	}

	.togglebox {
		margin-right: 0.75rem;
		border-radius: 50px;

		.switch {
			box-shadow: none;
			border-radius: 50%;
			border: 3px solid $gray-100;
		}

		&[data-state=on] {
			.switch {
				background-color: $white;
				border-color: $gray-500;
			}
		}

		&.disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	h6 {
		font-size: 0.625rem;
	}


	// map

	.app-map {
		position: relative;
		height: 50vh;
		order: 1;

		@include media-breakpoint-up(md) {
			@include full-size;
		}

		z-index: 1;
	}

	#map {
		@include full-size;
	}

	.leaflet-top {
		.leaflet-control {
			margin-top: 0.75rem;
		}
	}

	.leaflet-left {
		transition: 0.25s;

		@include media-breakpoint-up(md) {
			left: 25%;
		}

		.leaflet-control {
			margin-left: 0.75rem;
		}
	}

	.leaflet-bottom {
		.leaflet-control-zoom {
			margin-bottom: 0.75rem;
		}

		&.leaflet-left {
			z-index: 1001;
		}
	}

	.leaflet-right {
		.leaflet-control {
			margin-right: 0.75rem;
		}
	}

	.leaflet-control-container {
		.leaflet-control-attribution {
			font-size: 0.625rem;
			opacity: 1;
			transition: opacity 0.25s;
			margin-right: 0;
		}

		.leaflet-control-layers,
		.leaflet-control-zoom {
			border: none;

			a {
				width: 50px;
				height: 50px;
				font-size: 25px;
				line-height: 50px;
				border-radius: 0;
				border-bottom: none;
				margin-bottom: 1rem;
				box-shadow: 0 3px 16px transparentize($black, 0.8);
				transition: 0.25s;

				&:hover {
					box-shadow: 0 3px 16px transparentize($black, 0.7);
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.leaflet-tooltip {
		padding: 0.25rem 0.375rem;
		border-radius: 0;
	}

	.leaflet-popup {
		z-index: 10;
	}

	// adjust for views

	&[data-sidebar-width="half"] {
		.app-sidebar {
			@include media-breakpoint-up(md) {
				width: 50%;
			}
		}

		.leaflet-left {
			@include media-breakpoint-up(md) {
				left: 50%;
			}
		}

		.legend {
			.items {
				@include media-breakpoint-up(md) {
					width: 50vw;
				}
			}
		}
	}

	&[data-sidebar-width="none"] {

		.app-sidebar {
			@include media-breakpoint-up(md) {
				width: 25%;
				left: -25%;
				opacity: 0;
			}
		}

		.leaflet-left {
			left: 0;
		}

		.legend {
			.items {
				width: 100vw;
			}
		}

	}

	// adjust for admin bar

	&.admin-bar {
		height: calc(100vh - 32px);

		main {
			//height: calc(100vh - 32px);
		}
	}

	// ELEMENTS

	// legend

	.legend {
		margin: 0 !important;

		h6 {
			margin-bottom: 0;
			padding: 0.75rem;
			font-size: 1rem;
			font-weight: 500;
			text-transform: none;
			letter-spacing: normal;
			pointer-events: none;
			text-shadow: 0 1px $white;
		}

		.items {
			display: flex;
			width: 100vw;
			transition: 0.25s;

			@include media-breakpoint-up(md) {
				width: 75vw;
			}
		}

		.legend-item {
			flex-grow: 1;
			height: 0.75rem;
			// opacity: 0.8;
		}
	}

	// epicenter

	.leaflet-pulsing-icon {
		box-shadow: none;

		&:after {
			box-shadow: 0 0 0 2px $gray-900 !important;
		}
	}

}
