//
// REQUIRED INCLUDES
//

@import "../../../fw-parent/resources/vendor/bootstrap/scss/functions";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/variables";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/mixins";
@import 'variables';
@import '../../../fw-parent/resources/scss/helpers/mixins';
@import '../../../fw-parent/resources/scss/bootstrap/mixins';

//
// MIXINS
//


//
// VARIABLES
//

:root {
	--swiper-theme-color: #{$primary};
	--swiper-pagination-bullet-inactive-color: #{$gray-500};
}

//
// FONTS
//

@import '../vendor/font-awesome-pro/css/all.css';

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

@font-face {
	font-family: 'RPSans';
	src: url("../fonts/RPSans.woff") format('woff');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'RPSans';
	src: url("../fonts/RPSans-Medium.woff") format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'RPSans';
	src: url("../fonts/RPSans-Bold.woff") format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'RPTitle';
	src: url("../fonts/RPTitle.woff") format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

$icomoon-font-family: "RPIcons";
$icomoon-font-path: "../vendor/RPIcons-v1.0/fonts";

@import '../vendor/RPIcons-v1.0/style';

//
// TAGS
//

h6 {
	font-weight: normal;
	@include all-caps;
}

//
// CLASSES
//
//

.btn-outline-primary,
.btn-outline-secondary {
	color: $body-color;
}

.jumbo-btn {
	border: none;
	border-bottom: 0.375rem solid $primary;

	&.btn-white {
		color: $black;
	}
}

.data-cols {

	h6 {
		margin-bottom: 0.125rem;
		font-size: 0.625rem;
		color: $gray-400;
	}

	p {
		margin-bottom: 0;
	}
}

.font-size-xs {
	font-size: 0.625rem;
}

.font-size-sm {
	font-size: 0.75rem;
}

.font-size-lg {
	font-size: 1.25rem;
}

.font-size-xl {
	font-size: 1.5rem;
}

.font-size-2xl {
	font-size: 1.875rem;
}

//
// STRUCTURE
//


//
// COMMON
//


//
// BOOTSTRAP COMPONENTS
//

.breadcrumb {
	font-family: $headings-font-family;

}

.breadcrumb-item {
	&.tip {
		color: $gray-500;
	}
}

[data-toggle="collapse"] {
	cursor: pointer;
}

.accordion {
	.card-header {
		transition: 0.25s;

		i {
			transition: 0.25s;
		}

		&.open {
			color: $primary;

			i {
				transform: rotate(180deg);
			}
		}
	}
}

input.text-white::placeholder {
  color: transparentize($white, 0.25);
}

input.text-white::-webkit-input-placeholder {
  color: transparentize($white, 0.25);
}

input.text-white::-moz-placeholder {
  color: transparentize($white, 0.25);
}

input.text-white:-ms-input-placeholder {
  color: transparentize($white, 0.25);
}

input.text-white:-moz-placeholder {
  color: transparentize($white, 0.25);
}

//
// CONTENT TYPES
//



//
// TEMPLATE
//

@import 'template';

//
// PAGES
//

@import 'pages';

//
// COMPONENTS
//

@import 'components';

//
// VENDOR
//

.leaflet-popup-content-wrapper {
	border-radius: 0;
	box-shadow: 0 4px 8px transparentize($black, 0.85);
}

.leaflet-container {
	font-family: inherit;
}
