//
// REQUIRED INCLUDES
//

@import "../../../fw-parent/resources/vendor/bootstrap/scss/functions";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/variables";
@import "../../../fw-parent/resources/vendor/bootstrap/scss/mixins";
@import 'variables';
@import '../../../fw-parent/resources/scss/helpers/mixins';
@import '../../../fw-parent/resources/scss/bootstrap/mixins';

//
// MIXINS
//


//
// VARIABLES
//

:root {
	--swiper-theme-color: #{$primary};
	--swiper-pagination-bullet-inactive-color: #{$gray-500};
}

//
// FONTS
//

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

@font-face {
	font-family: 'RPSans';
	src: url("../fonts/RPSans.woff") format('woff');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'RPSans';
	src: url("../fonts/RPSans-Medium.woff") format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'RPSans';
	src: url("../fonts/RPSans-Bold.woff") format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

//
// TAGS
//

h6 {
	font-weight: normal;
	@include all-caps;
}

//
// CLASSES
//
//

.btn-outline-primary,
.btn-outline-secondary {
	color: $body-color;
}

.jumbo-btn {
	border: none;
	border-bottom: 0.375rem solid $primary;

	&.btn-white {
		color: $black;
	}
}

//
// STRUCTURE
//


//
// COMMON
//


//
// BOOTSTRAP COMPONENTS
//

.breadcrumb {
	font-family: $headings-font-family;

}

.breadcrumb-item {
	&.tip {
		color: $gray-500;
	}
}

//
// CONTENT TYPES
//


//
// TEMPLATE
//

@import 'template';

//
// PAGES
//

@import 'pages';

//
// COMPONENTS
//

@import 'components';

//
// VENDOR
//
