@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");
:root {
  --swiper-theme-color: #d90429;
  --swiper-pagination-bullet-inactive-color: #8d99ae;
}

@font-face {
  font-family: "RPSans";
  src: url("../fonts/RPSans.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RPSans";
  src: url("../fonts/RPSans-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "RPSans";
  src: url("../fonts/RPSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
h6 {
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.btn-outline-primary,
.btn-outline-secondary {
  color: #2b2c42;
}

.jumbo-btn {
  border: none;
  border-bottom: 0.375rem solid #d90429;
}
.jumbo-btn.btn-white {
  color: #000;
}

.breadcrumb {
  font-family: "RPSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.breadcrumb-item.tip {
  color: #8d99ae;
}

#main-header {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #ecf1f4;
  font-family: "RPSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  z-index: 100;
}
#main-header a {
  color: #2b2c42;
}

#header-logo img {
  max-width: 60px;
  margin: auto;
}

#header-wordmark img {
  max-width: 120px;
}

#header-primary {
  font-size: 1.125rem;
}
#header-primary .current-nav-item a {
  background-color: #fff;
}
#header-primary .nav-item:not(.current-nav-item) a:hover {
  background-color: rgba(221, 224, 231, 0.4);
}
#header-primary a {
  position: relative;
  transition: 0.25s;
}
#header-primary a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 0;
  background-color: #d90429;
  transition: 0.25s;
}
#header-primary a:hover {
  color: #d90429;
}
#header-primary a:hover:after {
  height: 0.375rem;
}

#header-secondary {
  margin-bottom: 1.3rem;
  font-size: 0.6875rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

#main-footer {
  background-color: #ecf1f4;
  font-size: 0.75rem;
}

.app-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.app-page #main-header {
  position: relative;
}
.app-page #main-header a:after {
  display: none;
}
.app-page main {
  flex-grow: 1;
}
.app-page .app-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ecf1f4;
  font-size: 0.875rem;
}
.app-page .app-main .section-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.app-page .app-container {
  position: relative;
  flex-grow: 1;
}
.app-page .app-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(141, 153, 174, 0.92);
  transition: 0.25s;
  z-index: 10;
}
.app-page .app-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.app-page #map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.app-page.admin-bar {
  height: calc(100vh - 32px);
}
.home #main-header {
  background-color: rgba(255, 255, 255, 0.4);
}
.home #header-primary a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.home #hero h1 {
  font-size: 3.75rem;
}
@media (max-width: 1200px) {
  .home #hero h1 {
    font-size: calc(1.5rem + 3vw);
  }
}
.home #quick-links {
  font-size: 1.25rem;
  font-family: "RPSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
}
.home #quick-links li {
  margin-bottom: 0.5rem;
}
.home #hero-nrcan img {
  max-width: 150px;
}
.home p {
  font-size: 1.25rem;
}

#home-features h6 {
  color: #9595a0 !important;
}

#home-training:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% * (11 / 12));
  height: 100%;
  background-color: rgba(236, 241, 244, 0.6);
}
#home-training .carousel-controls * {
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
#home-training .carousel-controls .carousel-pagination {
  order: 1;
}
#home-training .carousel-controls .carousel-pagination .swiper-pagination {
  position: relative;
  bottom: auto;
  text-align: left;
}
#home-training .carousel-controls .arrow-prev {
  order: 2;
}
#home-training .carousel-controls .arrow-next {
  order: 3;
  margin-left: 1rem;
}

.sidebar-item {
  position: relative;
}
.sidebar-item.scenario {
  border: 0px solid #fff;
  transition: 0.25s;
  box-shadow: 0 0.5rem 1rem rgba(43, 44, 66, 0.15);
  cursor: pointer;
}
.sidebar-item.scenario .sidebar-item-body {
  position: relative;
  z-index: 2;
}
.sidebar-item.scenario .sidebar-item-body h6 {
  margin-bottom: 0.125rem;
  font-size: 0.625rem;
  color: #9595a0;
}
.sidebar-item.scenario .sidebar-item-body p {
  margin-bottom: 0;
}
.sidebar-item.scenario .sidebar-button {
  background-color: #d90429;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: "RPSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  transition: all 0.25s ease 0s;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
  z-index: 1;
}
.sidebar-item.scenario.selected {
  border: 3px solid #fff;
  box-shadow: 0 0.375rem 0.625rem rgba(43, 44, 66, 0.4);
}
.sidebar-item.scenario.selected .sidebar-button {
  opacity: 1;
  max-height: 100px;
  padding: 0.75rem;
  pointer-events: auto;
  transition: all 0.25s ease 0.15s;
}

.swiper-pagination-bullet {
  transition: 0.25s;
}

/*# sourceMappingURL=child.css.map */
